@use '/src/styles/variables' as *;
.card{
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: .75rem;
    font-size: 18px;
    box-shadow: 0 .9375rem 2.5rem 0 hsla(204, 29%, 66%, .14);
    cursor: pointer;
}

.card:hover{
    box-shadow:0px 0px 0px 1px white inset;

}

[data-theme='dark'] .card{
    background-color: $clr-blue-850;
    box-shadow: hsla(216, 25%, 25%, .14);
}

@media (min-width: $br-tablet){
    .card{
        border-radius: 24px;
    }
}

@media(min-width: $br-desktop){
    .card{
        padding: 1.5rem;
    }
}