@use '/src/styles/variables' as *;

.question-container{
    padding: 2rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.quizz-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.progress-text{
    font-size: .875rem;
    line-height: 150%;
    color: $clr-grey-500;
    font-weight: 400;
}

[data-theme='dark'] .progress-text{
    color: $clr-blue-300;
}

.question{
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.options-submit{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: $br-tablet){
    .question-container{
        padding: 3.25rem 4rem;
    }
    .options-submit{
        gap: 2rem;
    }
    .options{
        gap: 1.5rem;
    }
    .progress-text{
        font-size: 1.25rem;
    }
    .question{
        font-size: 2.25rem;
    }
}

@media (min-width: $br-desktop){
    .question-container{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem;
        width: 90%;
    }
    .progress-bar{
        position: relative;
        top: 11.5rem;
    }
}