/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  /* Color Variables */
  --clr-white: #FFF;
  --clr-black: #000;

  --clr-grey-500: #626C7F;
  --clr-grey-50: #F4F6FA;

  --clr-blue-950: #2D3949;
  --clr-blue-900: #313E51;
  --clr-blue-850: #3B4D66;
  --clr-blue-500: #306AFF;
  --clr-blue-300: #ABC1E1;
  --clr-blue-100: #EDF1F9;
  --clr-blue-50: #EBF0FF;

  --clr-green-500: #2FD887;
  --clr-green-100: #E0FDEF;

  --clr-purple-600: #A729F5;
  --clr-purple-100: #F6E7FF;

  --clr-orange-400: #FF7E35;
  --clr-orange-50: #FFF5ED;

  --clr-red-500: #EE5454;

  /* Spacing Variables */
  --spacing-100: .5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1600: 8rem;
  --spacing-1800: 9rem;
  --spacing-2300: 11.5rem;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}